.caja_aprobar {
	width: 100%;
	height: 20px;
	display: block;
	background-repeat: no-repeat;
	background-position: center;
}

.caja_aprobar_ok {
    background-image: url("../images/ok.png");
}

.caja_aprobar_cancel {
    background-image: url("../images/cancel.png");
}

.center{
	margin-left: auto;
	margin-right: auto;
}
.fila_rechazado{
	background-color: #FFC0CB;	
}
.tabla_scroll{
	overflow: auto;
	height: 400px;
}