<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%n%d{ISO8601} [%t] OsmoAutenticador: %c{1}%n%p: %m%n"/>
        </layout>
    </appender>
    <appender name="DAILYROLLINGFILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="logs/OsmoAutenticador.drf.log"/>
        <param name="ImmediateFlush" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%n%d{ISO8601} [%t] OsmoAutenticador: %c{1}%n%p: %m%n"/>
        </layout>
    </appender>
    
	 <appender name="ROLLINGFILE" class="org.apache.log4j.RollingFileAppender"> 
	    <param name="file" value="logs/OsmoAutenticador.rf.log"/>
	    <param name="MaxFileSize" value="5000KB"/>
	    <param name="MaxBackupIndex" value="100" />
	    <layout class="org.apache.log4j.PatternLayout"> 
	      <param name="ConversionPattern" value="%n%d{ISO8601} [%t] OsmoAutenticador: %c{1}%n%p: %m%n"/> 
	    </layout> 
	  </appender>   
	  

	<!-- ####################### category  interop :: datapi ############################# -->
	
	<category name="com.osmosyscol.datapi" additivity="false">
		<priority value="WARN" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="DAILYROLLINGFILE" />
	</category>
	
	<category name="com.osmosyscol.commons" additivity="false">
		<priority value="WARN" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="DAILYROLLINGFILE" />
	</category>		
	
	<!-- ####################### category  data access:: ibatis ############################# -->
	
	<category name="com.osmosyscol.persistencia.dao.ibatis.core" additivity="false">
		<priority value="WARN" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="DAILYROLLINGFILE" />
	</category>		
	
	<category name="com.ibatis" additivity="false">
		<priority value="WARN" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="DAILYROLLINGFILE" />
	</category>
	<category name="java.sql" additivity="false">
		<priority value="WARN" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="DAILYROLLINGFILE" />
	</category>
	<category name="javax.sql" additivity="false">
		<priority value="WARN" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="DAILYROLLINGFILE" />
	</category>

	<!-- ####################### category  web services:: axis2 ############################# -->

	<category name="org.apache.xml.security" additivity="false">
		<priority value="WARN" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="DAILYROLLINGFILE" />
	</category>	
	<category name="org.apache.axis2" additivity="false">
		<priority value="WARN" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="DAILYROLLINGFILE" />
	</category>	
	<category name="org.apache.rampart" additivity="false">
		<priority value="WARN" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="DAILYROLLINGFILE" />
	</category>	
	<category name="org.bouncycastle" additivity="false">
		<priority value="WARN" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="DAILYROLLINGFILE" />
	</category>	
	<category name="org.apache.ws.security" additivity="false">
		<priority value="WARN" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="DAILYROLLINGFILE" />
	</category>		
	<category name="org.apache.ws.security.util.Base64" additivity="false">
		<priority value="WARN" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="DAILYROLLINGFILE" />
	</category>		
	
	
    <!-- ####################### category custom ::  ########################## -->
    
	<category name="com.osmosyscol.osmoautenticador" additivity="false">
		<priority value="WARN" />
        <appender-ref ref="DAILYROLLINGFILE" />
		<appender-ref ref="CONSOLE" />
	</category>
	
	<category name="com.it.nzwt" additivity="false">
		<priority value="WARN" />
        <appender-ref ref="DAILYROLLINGFILE" />
		<appender-ref ref="CONSOLE" />
	</category>
	
	<category name="com.itosmosys.g3a" additivity="false">
		<priority value="WARN" />
        <appender-ref ref="DAILYROLLINGFILE" />
		<appender-ref ref="CONSOLE" />
	</category>
		
	<!-- ####################### category root ::  ########################## -->	
    <root>
        <priority value="INFO"/>
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="DAILYROLLINGFILE" />
    </root>
	
</log4j:configuration>
